<h1>Your CS:GO inventory</h1>
<ul>
<% @items.each_value do |item| %>
  <% if item[:tradable] == 1 %>
    <li>
      <%= image_tag 'https://steamcommunity-a.akamaihd.net/economy/image/' + item[:icon_url] %>
      <p><%= item[:title] %></p>
      <p><%= item[:id] %></p>
    </li>
  <% end %>
 <% end %>
</ul>
